body {
	background-color: lightgray;
}

h1 {
	font-weight: 300;
	color: indianred;
	text-align: center;
}


p {
	color: darkblue;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

div{
	background-color: lightsalmon;
	box-shadow: black;
}

.estilo1{
	font-weight: 500;
}

.estilo2{
	color:darkslategrey;
}